---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BlogPostLayout from "../../layouts/BlogPostLayout.astro";
import PostComments from "../../components/PostComments.astro";

export async function getStaticPaths() {
  const blogPostEntries = await getCollection("articles");

  return blogPostEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();
---

<BlogPostLayout frontmatter={entry.data}>
  <article>
    <Content />
  </article>
  <article>
    <h3 style="text-align: center;">Comments</h3>
    <p>
      The comments section is a place for healthy, constructive and challenging
      conversations. The basic rule is simple – I encourage you to share your
      views, but be respectful of the author, yourself and your fellow
      commenters.
    </p>
    <PostComments />
  </article>
</BlogPostLayout>
