---
import { getCollection } from "astro:content";
import BlogPostLayout from "../../layouts/BlogPostLayout.astro";

export async function getStaticPaths() {
  const blogPostEntries = await getCollection("articles");

  return blogPostEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();
---

<BlogPostLayout frontmatter={entry.data}>
  <!-- <h4>{remarkPluginFrontmatter.minutesRead}</h4> -->
  <Content />
</BlogPostLayout>
