---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import msImage from "/assets/images/MartinSlack001-scaled.jpg";
const pageTitle = "About Me";
---

<Layout pageTitle={pageTitle}>
  <article>
    <div class="ms-history">
      <Image src={msImage} alt="Martin Slack" />
      <p>
        In 2010 my wife and I decided on a career change and we bought a
        commercial tomato growing business..
      </p>
      <p>
        After a few years growing hydroponic tomatoes (an interesting
        experience). I enrolled in a series of courses to learn how to earn a
        living online. In the process, I learned Wordpress in detail.
      </p>
      <p>
        I currently develop Wordpress sites for local and online clients using
        customised themes, premium themes and theme frameworks with customised
        skins.
      </p>
      <p>
        My experience includes developing websites from scratch, editing and
        updating existing websites and dynamic web applications. Through my
        company, One Stop Sites, I offer web hosting and maintenance services to
        clients for whom I have developed websites.
      </p>
      <p>
        More recently, I have been developing websites using Astro, a fast and
        performant technology. It uses island architecture to run dynamic
        content.
      </p>
      <p>
        I studied business at the University of Cape Town, graduating with a
        Bachelor of Business Science (Honours) in Marketing.
      </p>
      <p>
        I completed a comprehensive front-end developer course to add formal
        training to my developer experience. Through both the training and
        experience I acquired the range of skills necessary for front-end
        development, including the following.
      </p>
    </div>

    <h3 id="technical-skills">Technical Skills</h3>
    <ul>
      <li>Wordpress</li>
      <li>Astro</li>
      <li>HTML5</li>
      <li>SASS and CSS3</li>
      <li>Responsive design</li>
      <li>PHP</li>
      <li>Animation</li>
      <li>JavaScript and Typescript</li>
      <li>Git and Github</li>
    </ul>
    <h3 id="design-and-photographic-skills">Design and Photographic Skills</h3>
    <ul>
      <li>Adobe Photoshop</li>
      <li>Adobe Lightroom</li>
    </ul>
    <p>
      My years in business provided much experience that is relevant to
      developing websites as commercial investments. In particular, marketing
      skills have proved very useful.
    </p>
    <h3 id="business-skills">Business Skills</h3>
    <ul>
      <li>Branding and Brand Research</li>
      <li>Customer Experience (CX) Research and Implementation</li>
      <li>Extensive Marketing and Advertising Research</li>
      <li>Strategic Marketing</li>
    </ul>
  </article>
</Layout>
<style lang="scss">
  h1 {
    text-align: center;
  }
  .ms-history {
    display: flow-root;
  }
  img {
    max-width: 40%;
    float: left;
    margin-right: 15px;
    $shadow-color: #f4f4f4;
    box-shadow:
      0 0 3px 3px $shadow-color,
      0 0 3.6px -0.8px $shadow-color,
      0 0 9px -1.7px $shadow-color,
      0 0 21.9px -2.5px $shadow-color;
  }
</style>
