---
import Layout from "../layouts/FPLayout.astro";
const pageTitle = "Home Page";
---

<Layout>
  <div class="main">
    <article>
      <p>
        Hi, I'm Martin. You may have arrived at my website and wondered "what on
        earth is the point of all this?".
      </p>
      <p>
        Throughout my life people have reacted to things I have said by saying
        "you have so much stuff in your head. You should share it". Well, here
        it is.
      </p>
      <p>
        I was 19 and in the early stages of studying business when I started
        learning what is, for me, life's most important lesson - how to think.
        And think for myself. Independently. The comment about "stuff in my
        head" was really describing an enigmatic person. ( Enigmatic -
        "difficult to interpret or understand; mysterious."). I never realised
        that I was seen in this way. Maverick - absolutely! (Maverick - "an
        independent-minded person").
      </p>
      <p>
        I first discovered this way of thinking when I read Ricardo Semler's
        book during those business study years. I'll be writing an article about
        this shortly.
      </p>
      <p>
        The danger of this website is that it becomes self-indulgent. That is
        why I have added a comments section below each article. I encourage you
        to leave thoughtful comments, but please respect others who may have
        another view.
      </p>

      <p>
        A family member asked me who the target audience is. Well, this is an
        opportunity to throw out the rules. I'm not trying to sell anything, so
        I don't care who the target audience is. If you get some value out of
        it, or it provokes some thought, then "mission accomplished".
      </p>
      <p>
        If you do get some value out of it, you may want to be alerted to new
        content when I publish it. Just enter your contact details below, and
        you will be notified. No spam ever - promise.
      </p>

      <p><a href="/about-me/">More About Me</a></p>
    </article>
  </div>
</Layout>

<style lang="scss">
  .main {
    margin-top: 3em;
  }
  a {
    color: var(--pico-primary-hover);
    &:hover {
      color: var(--pico-text-selection-color);
    }
  }
</style>
