---
import Layout from "./Layout.astro";
const { minutesRead } = Astro.props.frontmatter;
import { Image } from "astro:assets";
const { frontmatter } = Astro.props;
---

<Layout pageTitle={frontmatter.title}>
  <div class="image-wrapper">
    <Image src={frontmatter.hero} alt={frontmatter.title} />
  </div>
  <p>{minutesRead}</p>
  <slot />
</Layout>
<style>
  .image-wrapper {
    width: 50%;
    margin: 0 auto;
  }
</style>
