---
import Layout from "./Layout.astro";
import { Image } from "astro:assets";
// const { minutesRead } = Astro.props.frontmatter;
const { frontmatter } = Astro.props;
---

<Layout pageTitle={frontmatter.title}>
  <div class="image-wrapper">
    <Image src={frontmatter.hero} alt={frontmatter.title} />
  </div>
  <!-- <p>{minutesRead}</p> -->
  <slot />
</Layout>
<style lang="scss">
  .image-wrapper {
    width: 50%;
    margin: 0 auto;
    padding: 0.5em;
    $shadow-color: #f4f4f4;
    box-shadow:
      0 0 3px 3px $shadow-color,
      0 0 3.6px -0.8px $shadow-color,
      0 0 9px -1.7px $shadow-color,
      0 0 21.9px -2.5px $shadow-color;
  }
</style>
